[SddmGreeterTheme]
Name=sddm-git-theme
Description=sddm-git-theme
Author=yesboilerplate
Website=https://github.com/yesboilerplate/configs
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.3
ConfigFile=theme.conf
Screenshot=Previews/astronaut.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-git-theme
Theme-API=2.0
QtVersion=6